@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

$primary-font: 'Barlow Semi Condensed', sans-serif;
$primary-bg: #1f3756;
$secondary-bg: #141539;
$primary-border: hsl(217, 16%, 45%);
$white: #FFF;
$blue: #2a46c0;
$red: #dc2e4e;
$yellow: #eca922;