@import 'variables';
@import 'mixins';

.page {
    background: linear-gradient($primary-bg, $secondary-bg);
    height: 100vh;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 2rem;
        max-width: 1000px;
        margin: 0 auto;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid $primary-border;
    width: 100%;
    padding: 1rem 2rem;
    box-sizing: border-box;
    font-family: $primary-font;
    text-transform: uppercase;
    border-radius: 4px;
    margin-bottom: 4rem;

    &__title {
        width: 30px;
        font-size: 1.2em;
        color: $white;
    }

    &__score {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: $white;
        padding: .8rem .4rem;
        font-size: .9em;
        border-radius: 4px;

        &--counter {
            margin-top: .3rem;
            font-size: 1.5em;
        }
    }
}

.buttons {
    background: yellow;
    width: 100%;

    &__button {

    }
}

.rules {
    width: 50%;
    margin: 0 auto;
    font-size: 1.2em;
    background: 0;
    border: 2px solid $primary-border;
    border-radius: 4px;
    color: $white;
    cursor: pointer;
    margin-top: 4rem;
    padding: .8rem 0;
    
}
