@import 'variables';
@import 'mixins';

.page {
    background: linear-gradient($primary-bg, $secondary-bg);
    height: 100vh;

    &__container {
        overflow: auto;
        max-width: 800px;
        margin: 0 auto;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 2em auto 0;
    border: 2px solid #606e85;
    border-radius: 8px;
    padding: 10px 30px;

    &__title {
        @include font-face(1.2em, $white, $primary-font, uppercase, 600, 1em);

        width: 30px;
    }

    &__score {
        @include font-face(.8em, $paper, $primary-font, uppercase, 600);

        display: flex;
        flex-direction: column;
        align-items: center;
        background: $white;
        height: 100%;
        padding: .5rem .8rem;
        border-radius: 4px;
        opacity: .9;

        &--counter {
            font-size: 2.3em;
        }
    }

}


.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 5em auto;
    width: 70%;

    &__button {
        margin: 5%;
        width: 6.5rem;
        height: 6.5rem;
        border-radius: 50%;
        outline: 0;
        border: 5px solid $paper;

        &--rock {
            border: 5px solid $rock;
        }

        &--scissor {
            border: 5px solid $scissor;
        }
    }
}

.rules {
    width: 50%;
    display: block;
    margin: 0 auto;
    background: 0;
    border: 1px solid $white;
    color: $white;
    font-size: 2em;
    
}
