<div class="page">
  <div class="page__container">
    <header class="header">
      <h1 class="header__title">Rock Paper Scissor</h1>
      <div class="header__score">Score <span class="header__score--counter">{{ score }}</span></div>
    </header>
    <main class="main">
      <section class="pick-item" *ngIf="!choice">
        <app-button pick="paper" (picked)="choosen($event)" class="paper"></app-button>
        <app-button pick="scissor" (picked)="choosen($event)" class="scissor"></app-button>
        <app-button pick="rock" (picked)="choosen($event)" class="rock"></app-button>
      </section>
      <section class="pick-result" *ngIf="!!choice">
        <div class="result__buttons-container">
          <section class="result__button-container result__button-container--you-picked">
            <app-button [pick]="choice"></app-button>
            <p class="result__text">You picked</p>
          </section>
          <section class="result__button-container">
            <app-button [pick]="AIchoice"></app-button>
            <p class="result__text">The house picked</p>
          </section>
        </div>
        <h2 class="result" *ngIf="win === false">You Lose!</h2>
        <h2 class="result" *ngIf="win === true">You Win!</h2>
        <button class="result__button" (click)="choice = ''">Try again</button>
      </section>
    </main>
    <button class="rules">Rules</button>
  </div>
</div>