<div class="page-container">
  <header class="header">
    <h1 class="header__title">Rock Paper Scissor</h1>
    <div class="header__score">Score <span class="header__counter">0</span></div>
  </header>
  <section class="buttons">
    <button class="buttons__button">
      <img class="buttons__img" src="../assets/icons/paper.svg">
    </button>
    <button class="buttons__button">
      <img class="buttons__img" src="../assets/icons/rock.svg">
    </button>
    <button class="buttons__button">
      <img class="buttons__img" src="../assets/icons/scissor.svg">
    </button>
  </section>
</div>