<div class="page">
  <div class="page__container">
    <header class="header">
      <h1 class="header__title">Rock Paper Scissor</h1>
      <div class="header__score">Score <span class="header__score--counter">12</span></div>
    </header>
    <main class="main">
      <section class="pick-item">
        <app-button pick="paper" class="paper"></app-button>
        <app-button pick="scissor" class="scissor"></app-button>
        <app-button pick="rock" class="rock"></app-button>
      </section>
    </main>
    <button class="rules">Rules</button>
  </div>
</div>