@import 'variables';

.button {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    border: .5rem solid $yellow;

    &--blue {
        border-color: $red;
    }

    &--red {
        border-color: $blue;
    }
}